# Google Calendar API（自治会館使用状況カレンダー）
GOOGLE_CALENDAR_ID=5e69d1d1e3e406f5e15abc04887918895752deac0bbc42b869afee98ad7e43c2@group.calendar.google.com
GOOGLE_API_KEY=

# LINE Messaging API（事務局への通知）
LINE_CHANNEL_ACCESS_TOKEN=
LINE_NOTIFY_TARGET_ID=
